{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Haply Robotics </title>

    <!-- bootstrap css -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- customized css -->
    <link href='{% static "css/landing.css" %}' rel="stylesheet">

    <!-- custom fonts -->
    <link href='{% static "font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:100,200,400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top" class="index">

    <!-- Top navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="#page-top"> 
                    
                    <div id="haply-logo">
                        <img src='{% static "img/haply-design/logo-horizontal.png" %}' />
                    </div>

                    <!-- <div id="haply-title">Haply</div>  -->
                </a>
            </div>

            <!-- The toggle content -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio" id="technology" class="header-button">The Technology</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" id="team" class="header-button">The Team</a>
                    </li>
                    <li class="page-scroll">
                        <a href="resources/" id="resources" class="header-button">Resources</a>
                    </li>   
                    <li class="page-scroll">
                        <a href="kit/" id="resources" class="header-button">The Kit</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Cool landing display area with little demo -->
    <header>
        <div class="container">

            <div class="row">
                
               
                <!-- Where the SVG will be appended --> 
                <div class="demo" ></div>
                
            </div>
            <div class="row">
                <img id="d3-pic" src='{% static "img/haply-design/d3-demo.png" %}' width="400" height="
                300"/>
               <img id="os-logo" src='{% static "img/open-source-gear.png" %}' width="50" height="40"/>
                <h2>The most <b>affordable & configurable</b> open-source <br/>haptic development platform.</h2>
                <br/>

                <h4>Adding touch to change the way we <b>interact</b> with our digital worlds</h4>
                <br/>
                
                
                 
                <a class="btn reserve-btn" href="#reserve"> Reserve one now! </a>
                
            </div>
            
        </div>
    </header>

    <!-- The technology/about section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"> 

                    <h3>Haptics <i>(pronounced HAP-tiks)</i> is the science of applying touch</h3>
                    <p> 
                        When you are interacting with objects in your day-to-day life, 
                        you are applying forces to those objects, but also receiving a force back. 
                        This feedback system allows us to feel the weight of a caught ball or the stretch of a rubberband.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-left">
                    <br/>
                    <br/>
                    <h2>Today's Technology</h2>
                    <p> 
                        Most commercially available haptic devices are close-sourced and extremely application specific. 
                        Due to this constraint; coupled with an expensive price, 
                        haptic application development remains highly inaccessible both from a knowledge base perspective and a high cost of entry.  
                    </p>
                </div>

                    <div class="col-lg-6">
                        <img src='{% static "img/haply-design/monitors-medium.png" %}' id="monitors" />
                    </div>
            </div>

            <div class="row">
                
                <div class="col-lg-6 text-left">
                </div>
            </div>
             <div class="row">
                    <div class="col-lg-6">
                    </div>
               
            </div>
        </div>
    </section>

    <!-- Contact/beta test section -->
    <section id="contact">
        <div class="container">
            <!-- Preorder call to action! --> 
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center">
                    <!-- <h2 id="call-to-action">Sign up for our preorder!</h2> -->
                    <h2>The Haply Platform</h2>
                    <hr/>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br>
            <!-- The carousel of images --> 
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="cad" src='{% static "img/1.jpg" %}'>
                        </div>

                        <div class="item">
                            <img class="cad" src='{% static "img/2.jpg" %}'>
                        </div>

                        <div class="item">
                            <img class="cad" src='{% static "img/3.jpg" %}'>
                        </div>

                        <div class="item">
                            <img class="cad" src='{% static "img/4.jpg" %}'>
                        </div>

                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" id="carousel-left">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" id="carousel-right">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>

                </div>
                    <div class="col-md-8 col-lg-6" style="overflow-x: hidden">
                        <img style="height: 411px" src='{% static "img/5.gif" %}' />
                    </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <p style="font-weight: 400">
                        The Haply device is a highly robust and configurable open-source haptic hardware development platform. Base on the Arduino Due microcontroller board. The platform allows you to recreate the sense of touch in 2D and 3D virtual environments. The configurable nature of the device gives you the ability to develop force-feedback haptic applications ranging from simplistic 1-degree-of-freedom  to sophisticated 4-degree-of-freedom  devices.
                        <br/>
                        <br/>
                        Don't forget to check out some cool demos <a class="video-link" id="video-1" href="https://youtu.be/n3IKoW7KBCE" target="_blank"><b><u>here</u></b></a> and <a class="video-link" href="https://youtu.be/nK020GU9vF4" id="video-2" target="_blank"><b><u>here</u></b></a>. 
                    </p>
                    

                    <!-- <p id="pricetag">$149.99</p> -->
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

        <section id="reserve" style="padding-top:0">
        <div class="container">

                <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center form-reservation">
                    <div class="col-lg-12 text-center">
                        <h1>Reserve your kit for the production run</h1>

                        <hr/>
                    </div>
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; clear:left; font:15px Helvetica,Arial,sans-serif;}
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                    <form action="//haply.us16.list-manage.com/subscribe/post?u=aeeedf602f1193fcd5b49e0bc&amp;id=c851945451" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group size1of2">
                        <label for="mce-EMAIL">Email Address </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group size1of2">
                        <label for="mce-MMERGE3">Number of kits </label>
                        <input type="number" name="MMERGE3" class="" value="" id="mce-MMERGE3">
                    </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aeeedf602f1193fcd5b49e0bc_c851945451" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Reserve" name="subscribe" class="btn reserve-btn" style="width: 100%"></div>
                        </div>
                    </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='number';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
                </div>
            </div>

    </section>

        <!-- The team section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center">
                    <h2 id="team-section-header">The Team</h2> <br>
                    <!-- <p> Haply is a group of dedicated tech enthusiasts and entrepreneurs with expertise in haptics, robotics, and engineering. The team is currently located in Montreal. Interested in collaborating? Shoot us an email at <span id="haply-email">team@haply.co</span>! </p> -->
                    <p> Haply is a group of dedicated tech enthusiasts and entrepreneurs with expertise in haptics, robotics, and engineering. The team is currently located in Montreal. Interested in collaborating? Shoot us an email at <span id="haply-email">haplyrobotics@gmail.com</span>! </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br>
            <div class="col-sm-4" id="colin" class="member" >
                <div class="member" style="background-image: url('{% static "img/colin-professional.png" %}')" >
                    <div class="member-description-mobile">
                        Colin Gallacher, Member<br>
                        Masters Robotics<br>
                        McGill University<br>
                        crgallacher@gmail.com
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="steve">
                <div class="member"  style="background-image: url('{% static "img/steve-professional.png" %}')">
                    <div class="member-description-mobile">
                        Steven Ding, Member<br>
                        Masters Electrical Engineering<br>
                        McGill University<br>
                        steveding1@gmail.com
                    </div>
                </div>
            </div>

            <div class="col-sm-4" id="arash">
                <div class="member" class="member" style="background-image: url('{% static "img/arash-professional.png" %}')">
                    <div class="member-description-mobile" >
                        Arash Mohtat, Advisor<br>
                        PhD Haptics<br>
                        McGill University<br>
                        mohtat.arash@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer: location and more contact information -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-12">
                        <ul class="list-inline">
                            <li>
                                <a href="http://www.angel.co/haply-1" id="haply-angellist" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-angellist"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/haply_robotics" id="haply-twitter" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                        <h5>Montreal, QC</h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jquery -->
    <script src='{% static "js/jquery.js" %}'></script>

    <!-- bootstrap -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>

    <!-- javascript plugin for header animation -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src='{% static "js/classie.js" %}'></script>
    <script src='{% static "js/cbpAnimatedHeader.js" %}'></script>

    <!-- contact form validation and ajax -->
    <script src='{% static "js/jqBootstrapValidation.js" %}'></script>

    <!-- custom theme javascript -->
    <script src='{% static "js/freelancer.js" %}'></script>

    <!-- ball demo --> 
    <script src='{% static "js/d3.min.js" %}'></script>
    <script src='{% static "js/ball_demo.js" %}'></script>

    <!-- Google Analytics: slightly faster version for modern browsers -->
    <!-- 
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <script>
        window.ga = window.ga || function () { 
            (ga.q = ga.q || []).push(arguments)
        };
        
        ga.l =+ new Date;
        
        ga('create', 'UA-XXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
     -->

    <!-- Google Analytics -->
    <script>
        /**
         * Creates a temporary global ga object and loads analy tics.js.
         * Paramenters o, a, and m are all used internally.  They could have been declared using 'var',
         * instead they are declared as parameters to save 4 bytes ('var ').
         *
         * @param {Window}      i The global context object.
         * @param {Document}    s The DOM document object.
         * @param {string}      o Must be 'script'.
         * @param {string}      g URL of the analytics.js script. Inherits protocol from page.
         * @param {string}      r Global name of analytics object.  Defaults to 'ga'.
         * @param {DOMElement?} a Async script tag.
         * @param {DOMElement?} m First script tag in document.
         */
        (function (i, s, o, g, r, a, m) {
            // Acts as a pointer to support renaming.
            i['GoogleAnalyticsObject'] = r; 

            // Creates an initial ga() function.  The queued commands will be executed once analytics.js loads.
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            },

            // Sets the time (as an integer) this tag was executed.  Used for timing hits.
            i[r].l = 1 * new Date();

            // Insert the script tag asynchronously.  Inserts above current tag to prevent blocking in
            // addition to using the async attribute.
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);

        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        // Function to send an event 
        var send_event = function (obj_class, user_event) {
            $("." + obj_class).on(user_event, function () {
                var event_name = $(this).attr('id');
                ga('send', 'event', obj_class, event_name, {useBeacon: true});
            });
        };

        // Create the tracker with default parameters
        ga('create', 'UA-66010002-1', 'auto'); 

        // Send the regular pageview hit
        ga('send', 'pageview');

        // Send a hit when user clicks on youtube video 
        send_event("video-link", "click");

        // Send a hit when user accesses external pages (twitter, angellist, etc)
        send_event("btn-social", "click");

        // Send a hit when user hovers over team members  
        send_event("member-description", "mouseout");

        // Send a hit when user clicks on one of header items
        send_event("header-button", "click");

        // Send a hit when user clicks through pictures 
        send_event("carousel-control", "click");

        // Send a conversion hit when user enters email 
        $("#signup-button").on("click", function () {
            // Get the email 
            var email = $("#email").val();
            ga('send', 'event', 'signup', email, {useBeacon: true});
        });

        // Send the amount of the time the user spent playing with the demo 
        window.onbeforeunload = function () {
            ga('send', 'event', 'd3-demo', String(PLAY_TIME / 1000));

            // Can't use this because GA doesn't allow you to see the event values 
            // on an individual basis, so store the value in action instead 
            // ga('send', {
            //     'hitType': 'event',
            //     'eventCategory': 'd3-demo',
            //     'eventAction': 'play',
            //     'eventLabel': 'test',
            //     'eventValue': Math.round(PLAY_TIME),
            //     useBeacon: true
            // });
        };


    </script>



</body>

</html>
