{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- bootstrap css -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- customized css -->
    <link href='{% static "css/brochure.css" %}' rel="stylesheet">

    <!-- custom fonts -->
    <link href='{% static "font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">



</head>


<body id="page-top" class="index container">

    <!-- <div class="row" id="demo"> -->
        <!-- Where the SVG will be appended --> 
        <!--<div class="demo"></div>-->
        <!-- <h4 id="catchphrase">
            Adding touch to change the way we interact with our digital worlds -->
            <!--<span id="haply-highlight">Haply</span> is bringing touch to your virtual world-->
       <!--  </h4>
    </div> -->
    <section id="logo-area">
        <a href="/"><img src='{% static "img/loooogo.png" %}' id="haply-logo"/></a>
    </section>

    <!-- The technology/about section -->
    <section id="explanation">
      <h3>The Kit</h3>
      <img src='{% static "img/kit_image.png" %}' style="margin: 0px 0px;">
      <h3>The CAD</h3>
      <img src='{% static "img/labeled_CAD.png" %}' style="margin: 0px 0px;">
      <h3>The 3D Prints</h3>
      <img src='{% static "img/evolution.png" %}' style="margin: 0px 0px;">
      <h3>The Class</h3>
      <img src='{% static "img/colin_talking.jpg" %}' style="margin: 0px 0px;width:624px;">

    </section>

    <section>
        <div class="row contact" id="url">
            <h4>Adding touch to change the way we interact <br>with our digital worlds<br></h4>
        </div>
    </section>

    <!-- ball demo --> 
    <!--
    <script src='{% static "js/jquery-1.11.3.min.js" %}'></script>
    <script src='{% static "js/d3.min.js" %}'></script>
    <script src='{% static "js/brochure.js" %}'></script>
-->


</body>

</html>
